* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 28, 49);
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
}

.sortable-container {
  width: 600px;
  height: 600px;
  margin: auto;
  border: solid white;
  background-color: rgb(0, 53, 28);
  overflow: auto;
}

.sortable-container .sort {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(0, 53, 28);
  align-items: center;
  outline: solid white;
}
